@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela&family=Varela+Round&display=swap');

body{
    font-family: "varela round", serif;
    color: rgb(35, 35, 116);
    
}

p{
    color: rgb(163, 158, 158);
    display: inline-block;
}
table{
    width: 70%;
}
header{
    background-color: rgb(0, 162, 255);
    padding: 10px;
    width: 65%;
}
.header{
    display: inline-block;
    color: white;
    font-size: large;
   
}
button{
    padding: 5px 10px;
    color: rgb(108, 108, 112);
    
}
.btn {
    display: inline-block;
    text-align: right;
    padding: 5px 10px; 
}

.info{

}
td {
    padding: 5px 10px;
}

tr {
    border: 1px;
}