body{
    background-color: rgb(42, 7, 138);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
figcaption{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

img{
    width: 100%;
}
@media (max-width: 768px){
    .main{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px){
    .main{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    div{
        width: 50%;
        aspect-ratio:16/9; 

    }
    .img{
    }

}

@media (min-width: 1024px){
    
    .main{
        display: flex;
        flex-direction: row;
        width: 80%
    }
    div{
        width: 33%;
    }

}